.firstsec{
   text-align: center;
 ;
}
.action{
    text-align: right;
 
}
    #demo{
        color:red ;
    }
#plansection{
    text-align:center;
   
    
}
.thirdsec{
    text-align: right;
    
}
.navbar{
    
  
}
body {
    background-image: url("giphy\ \(1\).gif");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.secondsec{
    display: inline-flex;
    
}