.firstsec{
   text-align: center;
}
.action{
    text-align: right;
    
}
    #demo{
        color:red ;
    }
#plansection{
    text-align:center;
    margin-top:"500px";
}
.thirdsec{
    text-align: right;
    
}